[*Assembly*.cs]
#Warning	CS0105	The using directive for 'System' appeared previously in this namespace	Krypton.Toolkit 2019 (net5.0-windows)
dotnet_diagnostic.CS0105.severity = None

[PlatformInvoke.cs]
#Message	CA1069	The enum member 'LINELEFT' has the same constant value '0' as member 'LINEUP'
dotnet_diagnostic.CA1069.severity = None

[*.cs]
# Sort System.* using directives alphabetically, and place them before other using directives
dotnet_sort_system_directives_first = true
#Place a blank line between using directive groups.
dotnet_separate_import_directive_groups = true
dotnet_code_quality.enable_platform_analyzer_on_pre_net5_target=true


# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

#warning CA1416: This call site is reachable on all platforms. 'KryptonRibbonGroupButton.Checked' is only supported on: 'Windows' 7.0 and later.
dotnet_diagnostic.CA1416.severity = None

#Warning	CS8618	Non-nullable field '_panelMessage' must contain a non-null value when exiting constructor. Consider declaring the field as nullable.	Krypton.Toolkit 2019	Z:\GitHub\Krypton-Suite\Standard-Toolkit\Source\Krypton Components\Krypton.Toolkit\Controls Toolkit\KryptonInputBox.cs	46	Active
dotnet_diagnostic.CS8618.severity = None

# CS8073:  The result of the expression is always 'true' or 'null'
dotnet_diagnostic.CS8073.severity = None

dotnet_diagnostic.CS0649.severity = None