# New BSD 3-Clause License (https://github.com/Krypton-Suite/Standard-Toolkit/blob/master/LICENSE)
# Modifications by Peter Wagner (aka Wagnerp), Simon Coghlan (aka Smurf-IV), tobitege et al. 2025 - 2025. All rights reserved.

name: Build

on:
  pull_request:
    branches: ['**']
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
      - alpha
      - canary
      - gold
      - V95
      - V85-LTS
    paths-ignore: ['.git*', '.vscode']

jobs:
  build:
    runs-on: windows-2022
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # .NET 9 (GA)
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      # .NET 10 (Preview)
      - name: Setup .NET 10 (preview)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: preview

      # global.json dynamisch erzeugen
      - name: Force .NET 10 SDK via global.json
        run: |
          $sdkVersion = (dotnet --list-sdks | Select-String "10.0").ToString().Split(" ")[0]
          Write-Output "Using SDK $sdkVersion"
          @"
          {
            "sdk": {
              "version": "$sdkVersion",
              "rollForward": "latestFeature"
            }
          }
          "@ | Out-File -Encoding utf8 global.json

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Cache NuGet
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore
        run: dotnet restore "Source/Krypton Components/Krypton Toolkit Suite 2022 - VS2022.sln"

      - name: Setup WebView2 SDK
        run: |
          # Create WebView2SDK directory
          mkdir WebView2SDK
          # Download WebView2 SDK assemblies using NuGet
          dotnet add "Source/Krypton Components/Krypton.Toolkit/Krypton.Toolkit 2022.csproj" package Microsoft.Web.WebView2 --version 1.0.2478.35 --no-restore
          # Copy assemblies to WebView2SDK directory
          $nugetPath = "$env:USERPROFILE\.nuget\packages\microsoft.web.webview2\1.0.2478.35\lib\net45"
          Copy-Item "$nugetPath\Microsoft.Web.WebView2.Core.dll" "WebView2SDK\"
          Copy-Item "$nugetPath\Microsoft.Web.WebView2.WinForms.dll" "WebView2SDK\"
          Copy-Item "$nugetPath\WebView2Loader.dll" "WebView2SDK\"
          # Remove NuGet package reference
          dotnet remove "Source/Krypton Components/Krypton.Toolkit/Krypton.Toolkit 2022.csproj" package Microsoft.Web.WebView2

      - name: Build
        run: msbuild "Scripts/nightly.proj" /t:Rebuild /p:Configuration=Release /p:Platform="Any CPU"
